subscription_id         = "your-subscription-id"
location                = "westeurope"
resource_group_name     = "rg-terraform-demo-we"
vnet_name               = "vnet-demo"
vnet_address_space      = ["10.0.0.0/16"]
subnet_name             = "subnet-demo"
subnet_address_prefixes = ["10.0.1.0/24"]
nsg_name                = "nsg-demo"
public_ip_name          = "pip-demo"
nic_name                = "nic-demo"
vm_name                 = "vm-demo"
vm_size                 = "Standard_D2s_v3"
admin_username          = "azureuser"
ssh_public_key_path     = "PATH/azure_tf_key.pub"
